<input type="hidden" id="strainsInputList" name="strains" value=""/>
<input type="hidden" id="trackersInputList" name="trackers" value=""/>
<input type="hidden" id="sexInputList" name="sex" value=""/>
<input type="hidden" id="devInputList" name="dev" value=""/>
<input type="hidden" id="ventralInputList" name="ventral" value=""/>
<input type="hidden" id="foodInputList" name="food" value=""/>
<input type="hidden" id="arenaInputList" name="arena" value=""/>
<input type="hidden" id="habituationInputList" name="habituation" value=""/>
<input type="hidden" id="experimenterInputList" name="experimenter" value=""/>
<div id="confirmSearchContentPane">
  <!-- Set by $(#<name>InputList).value="" -->
  <div>
    <h3>Confirmation of Search Configuration</h3>
    <button type="submit" class="btn btn-danger">Submit Search</button>
  </div>
  <hr>
  <div id="rangedFieldConfirm">
    <h4>Ranged Fields Selected</h4>
    <div class="row">
      <div class="col-sm-6">
	<p><b>Min Experiment date:</b> {{min_date}} </p>
      </div>
      <div class="col-sm-6">
	<p><b>Max Experiment date:</b> {{max_date}} </p>
      </div>
    </div>
    <div class="row">
      <label class="col-sm-3" for="start_date">Start Date (yyyy-mm-dd):</label>
      <input class="col-sm-3" type="date" 
	     name="start_date" class="form-control" id="start_date"></input>
      <label class="col-sm-3" for="end_date">End Date (yyyy-mm-dd):</label>
      <input class="col-sm-3" type="date" 
	     name="end_date" class="form-control" id="end_date"></input>
    </div>
  </div>
  <hr>
  <div id="parametersConfirm">
    <h4>Features Selected</h4>
    <a href="#confirm_features_panel" class="btn btn-info" data-toggle="collapse">Toggle Features</a>
    <div id="confirm_features_panel" class="collapse in">
      <table id="confirmParameters" class="table table-striped table-bordered table-responsive">
	<thead>
	  <tr>
	    <th>Name</th>
	    <th>Minimum</th>
	    <th>Maximum</th>
	    <th>Features Range Filter</th>
	  </tr>
	</thead>
	<tbody>
	</tbody>
      </table>
    </div>
  </div>
  <hr>
  <div id="discreteFieldConfirm">
    <h4>Discrete Fields Selected</h4>
    <!-- *CWL* Tentative Ugly hard code for non-dynamic display. Please fix. -->
    <div class="row">
      <div class="col-sm-3">
	<p><b>Strains</b></p>
	<table id="strainsConfirm" class="table table-striped table-bordered table-responsive">
	  <thead>
	    <tr><th>Name</th></tr>
	  </thead>
	  <tbody>
	  </tbody>
	</table>
      </div>
      <div class="col-sm-3">
	<p><b>Trackers</b></p>
	<table id="trackersConfirm" class="table table-striped table-bordered table-responsive">
	  <thead>
	    <tr><th>Name</th></tr>
	  </thead>
	  <tbody>
	  </tbody>
	</table>
      </div>
      <div class="col-sm-3">
	<p><b>Sex</b></p>
	<table id="sexConfirm" class="table table-striped table-bordered table-responsive">
	  <thead>
	    <tr><th>Name</th></tr>
	  </thead>
	  <tbody>
	  </tbody>
	</table>
      </div>
      <div class="col-sm-3">
	<p><b>Development Stage</b></p>
	<table id="devConfirm" class="table table-striped table-bordered table-responsive">
	  <thead>
	    <tr><th>Name</th></tr>
	  </thead>
	  <tbody>
	  </tbody>
	</table>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
	<p><b>Ventral Sides</b></p>
	<table id="ventralConfirm" class="table table-striped table-bordered table-responsive">
	  <thead>
	    <tr><th>Name</th></tr>
	  </thead>
	  <tbody>
	  </tbody>
	</table>
      </div>
      <div class="col-sm-3">
	<p><b>Food</b></p>
	<table id="foodConfirm" class="table table-striped table-bordered table-responsive">
	  <thead>
	    <tr><th>Name</th></tr>
	  </thead>
	  <tbody>
	  </tbody>
	</table>
      </div>
      <div class="col-sm-3">
	<p><b>Arena</b></p>
	<table id="arenaConfirm" class="table table-striped table-bordered table-responsive">
	  <thead>
	    <tr><th>Name</th></tr>
	  </thead>
	  <tbody>
	  </tbody>
	</table>
      </div>
      <div class="col-sm-3">
	<p><b>Habituation</b></p>
	<table id="habituationConfirm" class="table table-striped table-bordered table-responsive">
	  <thead>
	    <tr><th>Name</th></tr>
	  </thead>
	  <tbody>
	  </tbody>
	</table>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
	<p><b>Experimenters</b></p>
	<table id="experimenterConfirm" class="table table-striped table-bordered table-responsive">
	  <thead>
	    <tr><th>Name</th></tr>
	  </thead>
	  <tbody>
	  </tbody>
	</table>
      </div>
    </div>
  </div>
  <hr>
</div>
