<div id="crossfilter_genData_pane">
  <div id="genDataHeader">
    <h1>Generate Data</h1>
  </div>
  <hr>
  <div>
    <div class="row">
      <div class="col-sm-3">
	<button id="generateCsv" onclick="getCsvFromResults()" type="button" class="btn btn-success" disabled="true">Get Features Means Data</button>
      </div>
      <div class="col-sm-3">
	<button id="downloadExpr" onclick="downloadResultsList()" type="button" class="btn btn-danger" disabled="true">Get Experiments Data + Download Script (Linux)</button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
	<div class="checkbox active">
	  <label><input type="checkbox" id="chk_fullvid" checked="checked" value="">Full Video Data</label>
	</div>
      </div>
      <div class="col-sm-2">
	<div class="checkbox active">
	  <label><input type="checkbox" id="chk_features" checked="checked" value="">Features Data</label>
	</div>
      </div>
      <div class="col-sm-2">
	<div class="checkbox active">
	  <label><input type="checkbox" id="chk_skeleton" checked="checked" value="">Skeleton Data</label>
	</div>
      </div>
      <div class="col-sm-2">
	<div class="checkbox active">
	  <label><input type="checkbox" id="chk_vidsample" checked="checked" value="">Video Sample</label>
	</div>
      </div>
      <div class="col-sm-2">
	<div class="checkbox active">
	  <label><input type="checkbox" id="chk_wcon" checked="checked" value="">WCON Movement Data</label>
	</div>
      </div>
    </div>
  </div>
  <hr>
  <!-- Replication of the crossfilter table from the main crossfilter page -->
  <div id='genDataTotals'>
    <p><span id='genDataActive'>-</span> of <span id='genDataTotal'>-</span> experiments selected.</p>
    <p>Total selected experiment data size - <span id='genDataDatasize'>0 Mb</span></p>
    <p><span id='genDataFeaturesSelected'>-</span> of <span id='genDataFeaturesTotal'>-</span> features selected for metadata download.</p>
  </div>
  <div id='xFilterLists'>
    <div id='xfilter-genData-list' class='result_row_list'></div>
  </div>
  <hr>
  <!-- Features Selection -->
  <div>
    <h4>Select Features For Download</h4>
    <a href="#allXFilterFeaturesPanel" class="btn btn-info" data-toggle="collapse">Toggle All Features</a>
    <div id="allXFilterFeaturesPanel" class="collapse">
      <table id="xFilterFeaturesTable" class="table table-striped table-bordered table-responsive">
	<thead>
	  <tr>
	    <th>Name</th>
	  </tr>
	</thead>
	<tbody>
	  {% for name in all_features_names %}
	  <tr>
	    <td>{{ name }}</td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
    </div>
  </div>
  <hr>
</div>
