<div id="crossfilter_genData_pane">
  <div id="genDataHeader">
    <h1>Generate Data</h1>
  </div>
  <hr>
  <div>
    <div class="row">
      <div class="col-sm-3">
	<button id="generateCsv" onclick="getCsvFromResults()" type="button" class="btn btn-success" disabled="true">Get Features Means Data</button>
      </div>
      <div class="col-sm-3">
	<button id="downloadExpr" onclick="downloadResultsList()" type="button" class="btn btn-danger" disabled="true">Get Experiments Data + Download Script (Linux)</button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
	<div class="checkbox active">
	  <label><input type="checkbox" id="chk_fullvid" checked="checked" value="">Full Video Data</label>
	</div>
      </div>
      <div class="col-sm-2">
	<div class="checkbox active">
	  <label><input type="checkbox" id="chk_features" checked="checked" value="">Features Data</label>
	</div>
      </div>
      <div class="col-sm-2">
	<div class="checkbox active">
	  <label><input type="checkbox" id="chk_skeleton" checked="checked" value="">Skeleton Data</label>
	</div>
      </div>
      <div class="col-sm-2">
	<div class="checkbox active">
	  <label><input type="checkbox" id="chk_vidsample" checked="checked" value="">Video Sample</label>
	</div>
      </div>
      <div class="col-sm-2">
	<div class="checkbox active">
	  <label><input type="checkbox" id="chk_wcon" checked="checked" value="">WCON Movement Data</label>
	</div>
      </div>
    </div>
    <hr>
  </div>
</div>
