<div id="crossfilter_pane">
  <div id="header">
    <h1 id="crossfilter_report_title"></h1>
  </div>
  <div>
    <button id="downloadExpr" onclick="downloadResultsList()" type="button" class="btn btn-danger" disabled="true">Download Experiments List</button>
    <a href="javascript:resetAll()" class="reset" style="margin-left: -10px; margin-bottom: 20px">Reset all</a>
    <hr>
  </div>
  <div id='charts'>
  </div>
  
  <div id="daySelectionDiv"></div>
  <div id="datasetview">
    <div class="title"></div>
    <canvas></canvas>
  </div>
  
  <aside id='totals'>
    <p><span id='active'>-</span> of <span id='total'>-</span> experiments selected.</p>
    <p>Total data size selected - <span id='datasize'>0 Mb</span></p>
  </aside>
  
  <div id='lists'>
    <div id='results-list' class='result_row_list'></div>
  </div>
</div>  
