<div id="crossfilter_pane">
  <!-- Pane template.
    <ul class="nav nav-pills" id="xFilterPills">
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade in active" id="crossfilterPane">
      </div>
    </div>
    -->
    <ul class="nav nav-pills" id="xFilterPills">
      <li class="active"><a title="Find desired experiments by restricting Features value ranges."
			    data-toggle="pill" href="#crossfilterPage">Crossfilter</a>
      </li>
      <li><a title="Choose subset of Features to apply crossfilter against."
	     data-toggle="pill" href="#crossfilterFeaturesPage">Select Crossfilter Features</a>
      </li>
    </ul>
    <div class="tab-content">
      <!-- Crossfilter Main Tool -->
      <div class="tab-pane fade in active" id="crossfilterPage">
        {% include "webworm/crossfilter-template.html" %}
      </div>
      <!-- Select Features for Crossfilter -->
      <div class="tab-pane fade" id="crossfilterFeaturesPage">
	{% include "webworm/crossfilterFeatures-template.html" %}
      </div>
    </div>
</div>
