<div id="crossfilter_pane">
  <div id="header">
    <h1 id="crossfilter_report_title"></h1>
  </div>
  <div>
    <button onclick="downloadResults()" type="button" class="btn btn-danger">Download Experiments</button>
    <a href="javascript:resetAll()" class="reset" style="margin-left: -10px; margin-bottom: 20px">Reset all</a>
    <hr>
  </div>
  <div id='charts'>
  </div>
  
  <div id="daySelectionDiv"></div>
  <div id="datasetview">
    <div class="title"></div>
    <canvas></canvas>
  </div>
  
  <aside id='totals'>
    <span id='active'>-</span> of <span id='total'>-</span> experiments selected.
  </aside>
  
  <div id='lists'>
    <div id='results-list' class='result_row_list'></div>
  </div>
</div>  
