<div id="database_pane">
  <!-- Pane template.
    <ul class="nav nav-pills" id="xFilterPills">
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade in active" id="crossfilterPane">
      </div>
    </div>
    -->
  <ul class="nav nav-tabs" id="dbTabs">
    <li class="active"><a title="Find desired experiments by restricting Features value ranges."
			  data-toggle="tab" href="#crossfilterPane">Crossfilter by Features</a>
    </li>
    <li><a title="Download Features metadata or full experiment data." 
	   data-toggle="tab" href="#genDataPane">Get Data</a></li>
  </ul>

  <div class="tab-content">
    <!-- Cross Filter Panel -->
    <div class="tab-pane fade in active" id="crossfilterPane">
      {% include "webworm/crossfilter-pane.html" %}
    </div>

    <!-- Generate Data Panel -->
    <div class="tab-pane fade" id="genDataPane">
      {% include "webworm/genData-pane.html" %}
    </div>
  </div>

</div>
