{% extends "webworm/header.html" %}

{% block content %}
{% load static %}

<div id="loader"></div>
<div id="loaderText"><h2 id="loaderLabel">Loading Crossfilter Data. Please wait.</h2></div>

<div style="visibility:hidden;" class="container animatebottom" id="master">

<nav class="navbar navbar-default navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a target="_blank" href="http://openworm.org/" class="navbar-brand">OpenWorm</a>
    </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="main-navbar-collapse-1">
      <ul class="nav nav-tab navbar-nav">
        <li class="active"><a data-toggle="tab" href="#crossfilterPane">Find Experiments</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Get Data<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a data-toggle="tab" href="#downloadDataPane">Zenodo Data</a></li>
            <li><a data-toggle="tab" href="#featuresMetaPane">Features Metadata</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Configure Database<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a data-toggle="tab" href="#xfFeaturesPane">Change Crossfilter Features</a></li>
            <li><a data-toggle="tab" href="#searchPane">Advanced Database Filters</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'index' %}">Clear All Settings</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Support Tools<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'wconviewer' %}">WCON Movement Viewer</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contribute<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'upload' %}">Upload your Data</a></li>
            <li><a target="_blank" href="https://goo.gl/forms/hIYt4Z7ETmklUrIf1">Give Feedback</a>
	    </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Info<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a target="_blank" href="https://github.com/openworm/movement_cloud/blob/master/README.md">Documentation</a></li>
            <li><a target="_blank" href="https://github.com/openworm/movement_cloud">Source Code</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

  <form id="searchForm" action="{% url "index" %}" method="get">
    <div class="form-group" >
      <div id="searchWidget" class="ui-widget">
	<p id="searchLine">
	  <button onclick="submitSearchBar()" id="searchBarButton" class="btn btn-danger" value="">Search</button>
	  <label for="searchBar">:</label>
	  <textarea id="searchBar" rows="1" placeholder="e.g. N2 or unc "></textarea>
	</p>
      </div>
      <input type="hidden" type="submit" name="search">
      <div id="crossfilterFeatureInput">
      </div>
      <div id="downloadMetadataInput">
      </div>
      <div id="hiddenDiscreteInput">
      </div>
    </div> <!-- form group -->
  </form>

  <hr>

<!--
  <ul class="nav nav-tabs" id="tabsUL">
    <li class="active"><a title="Find experiments using Database interface."
			  data-toggle="tab" href="#databasePane">Use Database</a></li>
    <li><a title="Filter Database records by field values. Optional." 
	   data-toggle="tab" href="#searchPane">Advanced Database Search Filters</a></li>
  </ul>
-->
  <div class="tab-content">
    <!-- Database Selection Tool -->
    <div class="tab-pane fade in active" id="crossfilterPane">
      {% include "webworm/crossfilter-template.html" %}
    </div>

    <!-- Select Crossfilter Features -->
    <div class="tab-pane fade" id="xfFeaturesPane">
      {% include "webworm/crossfilterFeatures-template.html" %}
    </div>    

    <!-- Filter Tool Panel -->
    <div class="tab-pane fade" id="searchPane">
      {% include "webworm/advancedSearch-template.html" %}
    </div>

    <!-- Download Data Panel -->
    <div class="tab-pane fade" id="downloadDataPane">
      {% include "webworm/crossfilter-genData-template.html" %}
    </div>

    <!-- Download MetaData Panel -->
    <div class="tab-pane fade" id="featuresMetaPane">
      {% include "webworm/getMetadata-template.html" %}
    </div>

  </div>

</div>

<script type="text/javascript"> 
  var hasCFData = false;
  if ({{ results_count }} > 0) {
    $('#tabsUL a[href="#crossfilterPane"]').trigger('click');
    $('#downloadExpr').prop('disabled', false);
    $('#generateCsv').prop('disabled', false);
    $('#getUrlList').prop('disabled', false);
    hasCFData = true;
  }
  var fileTypes = {{ file_types|safe }};
  var prevAdvancedFilterState = {{ prev_advanced_filter_state|safe }};
  var dataFilePath = "{% static 'webworm/worm_mock_data.csv' %}";
  var crossfilterData = {{ results_list|safe }};
  var selectedFeaturesNames = {{ selected_features_names|safe }};
  var allFeaturesNames = {{ all_features_names|safe }};
  var zenodoFieldNames = {{ zenodo_header|safe }};
  var zenodoFileData = {{ zenodo_data|safe }};
  var zenodoDataDict = {};
  var discreteFieldData = {{ discrete_field_counts|safe }};
  var discreteFieldMetadata = {{ discrete_field_meta|safe }};
  var discreteFieldNames = {{ discrete_field_names|safe }};
  var downloadData = {% if download_data %}{{ download_data|safe }}{% else %}'None'{% endif %};
  var downloadHeaders = {% if download_header %}{{ download_header|safe }}{% else %}'None'{% endif %};
</script>

<!-- dependencies -->
<script src="{% static 'extern/dist/crossfilter.min.js' %}"></script>
<script src="{% static 'extern/dist/d3.v4.min.js' %}"></script>
<script src="{% static 'extern/dist/babel.min.js' %}"></script>

<!-- DataTables local -->
<script src="{% static 'webworm/filter-discrete.js' %}"></script>
<script src="{% static 'webworm/filter-features.js' %}"></script>

<!-- Search Bar -->
<script src="{% static 'webworm/main-search-bar.js' %}"></script>

<!-- Crossfilter Local -->
<script src="{% static 'webworm/crossfilter_parameters.js' %}"></script>
<script src="{% static 'webworm/crossfilter_bar_chart.js' %}"></script>
<script src="{% static 'webworm/crossfilter_helpers.js' %}"></script>
<script src="{% static 'webworm/crossfilter_genData.js' %}"></script>
<script src="{% static 'webworm/crossfilter_main.js' %}"></script>
{% endblock %}
