      <ul class="nav nav-tab navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Find Experiments<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a data-toggle="tab" href="#crossfilterPane">Crossfilter</a></li>
            <li><a data-toggle="tab" href="#searchPane">Browse and Filter Database</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Get Data<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a data-toggle="tab" href="#downloadDataPane">Zenodo Data</a></li>
            <li><a data-toggle="tab" href="#featuresMetaPane">Features Metadata</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Configure Database<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a data-toggle="tab" href="#xfFeaturesPane">Change Crossfilter Features</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'index' %}">Clear All Settings</a></li>
          </ul>
        </li>
      </ul>
