<div id="crossfilter_genData_pane">
  <div id="genDataHeader">
    <h2>Get Experiments Data</h2>
    <input class="btn btn-success" type="button" value="Return to Crossfilter Here" onclick="document.getElementById('xfMain').click();" />
  </div>
  <hr>
  <!-- Replication of the crossfilter table from the main crossfilter page -->
  <div id='genDataTotals'>
    <h3>1. Selected Experiments Summary</h3>
    <p><span id='genDataActive'>-</span> of <span id='genDataTotal'>-</span> experiment selected.</p>
    <p>Maximum data size - <span id='genDataDatasize'>0 Mb</span></p>
  </div>
  <a class="btn btn-info" onclick="genPreviewTable()">Click to Preview Selected Experiments</a>
  <div id='xfilterPreview'>
  </div>
  <hr>
  <div>
    <h3>2. Get Data</h3>
    <div class="row">
      <div class="col-sm-3">
	<button id="getUrlList" onclick="getUrlList()" type="button" class="btn btn-danger" disabled="true">Generate File Data URLs List</button>
      </div>
      <div class="col-sm-6">
	<button id="downloadExpr" onclick="downloadResultsList()" type="button" class="btn btn-danger" disabled="true">Get Experiments Files + Download Script (Linux)</button>
      </div>
    </div>
  </div>
  <div id="filetypeCheckboxes">
    <div><h3>Filter download by file types</h3></div>
    <p>Expected file download data size - <span id='expectedDatasize'>0 Mb</span></p>
  </div>
  <hr>
  <div id="downloadUrlList">
  </div>
</div>
