<div id="crossfilter_crossfilter_pane">
  <div id="header">
    <h2 id="crossfilter_report_title">Find experiments by feature (click and drag to filter)</h2>
  </div>
  <div id='crossfilter_nav_buttons'>
    <input class="btn btn-success" type="button" value="Get Data" onclick="document.getElementById('xfGetData').click();" />
    <input class="btn btn-success" type="button" value="Change Crossfilter Features" onclick="document.getElementById('xfChange').click();" />
  </div>
  <div id='charts'>
    <a href="javascript:resetAll()" class="reset" style="margin-left: -10px; margin-bottom: 20px">Reset all</a>
  </div>

<!-- *CWL* Unnecessary elements  
  <div id="daySelectionDiv"></div>
  <div id="datasetview">
    <div class="title"></div>
    <canvas></canvas>
  </div>
-->

  <div class="title"><h4>Dynamic Preview of Top 20 Filtered Records</h4></div>
  <aside id='totals'>
    <p>Approx <span id='active'>-</span> of <span id='total'>-</span> experiments.</p>
    <p>Maximum data size selected - <span id='datasize'>0 Mb</span></p>
  </aside>
  
  <div id='lists'>
    <div id='results-list' class='result_row_list'></div>
  </div>
</div>  
