<div>
  <div>
    <h4>List of Core Features - click rows to select</h4>
    <table id="coreFeaturesTable" class="table table-striped table-bordered table-responsive">
      <thead>
	<tr>
	  <th>Name</th>
	  <th>Description</th>
	</tr>
      </thead>
      <tbody>
	{% for feature in presentFeatures|dictsort:"name" %}
	<tr>
	  <td> {{ feature.name }} </td>
	  <td> {{ feature.desc }} </td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
  </div>
  <hr>
  <div>
    <h4>List of All Features</h4>
    <a href="#allFeaturesPanel" class="btn btn-info" data-toggle="collapse">Toggle All Features</a>
    <div id="allFeaturesPanel" class="collapse">
      <table id="parameters" class="table table-striped table-bordered table-responsive">
	<thead>
	  <tr>
	    <th>Name</th>
	  </tr>
	</thead>
	<tbody>
	  {% for name in parameter_name_list %}
	  <tr>
	    <td>{{ name }}</td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
    </div>
  </div>
  <hr>
</div>
