<div id="rangedSearchControlPane">
  <div class="row">
    <div class="col-sm-6">
      <p><b>Min Experiment date:</b> {{min_date}} </p>
    </div>
    <div class="col-sm-6">
      <p><b>Max Experiment date:</b> {{max_date}} </p>
    </div>
  </div>
  <div class="row">
    <label class="col-sm-3" for="start_date">Start Date (yyyy-mm-dd):</label>
    <input class="col-sm-3" type="date" 
	   name="start_date" class="form-control" id="start_date"></input>
    <label class="col-sm-3" for="end_date">End Date (yyyy-mm-dd):</label>
    <input class="col-sm-3" type="date" 
	   name="end_date" class="form-control" id="end_date"></input>
  </div>
  <hr>
</div>
