<div id="searchControlPane" class="tabbable">
  <form id="searchForm" onsubmit="submitFunction()" action="{% url "index" %}" method="get">
    <div class="form-group" >
      <div id="searchMethodPanes">
	<ul class="nav nav-pills">
	  <li class="active"><a data-toggle="pill" href="#parametersPane">Filter By Feature</a></li>
	  <li><a data-toggle="pill" href="#discretePane">Filter Discrete Values</a></li>
	  <li><a data-toggle="pill" href="#confirmSearchPane">Review and Confirm</a></li>
	</ul>
	
	<div class="tab-content">
	  <!-- Search by Parameters -->
	  <div class="tab-pane fade in active" id="parametersPane">
	    {% include "webworm/parameters-cf-template.html" %}
	  </div>
	  
	  <!-- Search by discrete database fields -->
	  <div class="tab-pane fade" id="discretePane">
	    {% include "webworm/discrete-template.html" %}
	  </div>
	  
	  <!-- Confirmation tab to review and submit search request to server -->
	  <div class="tab-pane fade" id="confirmSearchPane">
	    {% include "webworm/confirmSearch-cf-template.html" %}
	  </div>
	</div> <!-- tab content -->

      </div> <!-- container -->
    </div> <!-- form group -->
  </form>
</div>
