{% extends "common/header.html" %}

{% block content %}
<div class="container">
  <a href="{% url "index" %}" class="btn btn-success" role="button">Return to Search</a>
</div>
<div class="container">
  <!-- Row 1 Strains and Trackers -->
  <div class="row">
    <div class="col-sm-6">
      <p><b>Strains Summary</b></p>
      <table id="sum_strain" class="table table-striped table-bordered table-responsive">
	<thead>
	  <tr>
	    <th>Name</th>
	    <th>Count</th>
	  </tr>
	</thead>
	<tbody>
	  {% for name, count in strain_counts %}
	  <tr>
	    <th>{{ name }}</th>
	    <th>{{ count }}</th>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
    </div>
    <div class="col-sm-6">
      <p><b>Trackers Summary</b></p>
      <table id="sum_trackers" class="table table-striped table-bordered table-responsive">
	<thead>
	  <tr>
	    <th>Name</th>
	    <th>Count</th>
	  </tr>
	</thead>
	<tbody>
	  {% for name, count in trackers_counts %}
	  <tr>
	    <th>{{ name }}</th>
	    <th>{{ count }}</th>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
    </div>
  </div>
  <!-- Row 2 Sex and Development Stages -->
  <hr>
  <div class="row">
    <div class="col-sm-6">
      <p><b>Sex Summary</b></p>
      <table id="sum_sex" class="table table-striped table-bordered table-responsive">
	<thead>
	  <tr>
	    <th>Name</th>
	    <th>Count</th>
	  </tr>
	</thead>
	<tbody>
	  {% for name, count in sex_counts %}
	  <tr>
	    <th>{{ name }}</th>
	    <th>{{ count }}</th>
	  </tr>
	  {% endfor %}
      </tbody>
      </table>
    </div>
    <div class="col-sm-6">
      <p><b>Development Stages Summary</b></p>
      <table id="sum_dev" class="table table-striped table-bordered table-responsive">
	<thead>
	  <tr>
	    <th>Name</th>
	    <th>Count</th>
	  </tr>
	</thead>
	<tbody>
	  {% for name, count in dev_stage_counts %}
	  <tr>
	    <th>{{ name }}</th>
	    <th>{{ count }}</th>
	  </tr>
	  {% endfor %}
      </tbody>
      </table>
    </div>
  </div>
  <!-- Row 3  Ventral Sides and Food -->
  <hr>
  <div class="row">
    <div class="col-sm-6">
      <p><b>Ventral Sides Summary</b></p>
      <table id="sum_ventral" class="table table-striped table-bordered table-responsive">
	<thead>
	  <tr>
	    <th>Name</th>
	    <th>Count</th>
	  </tr>
	</thead>
	<tbody>
	  {% for name, count in ventral_counts %}
	  <tr>
	    <th>{{ name }}</th>
	    <th>{{ count }}</th>
	  </tr>
	  {% endfor %}
      </tbody>
      </table>
    </div>
    <div class="col-sm-6">
      <p><b>Food Summary</b></p>
      <table id="sum_food" class="table table-striped table-bordered table-responsive">
	<thead>
	  <tr>
	    <th>Name</th>
	    <th>Count</th>
	  </tr>
	</thead>
	<tbody>
	  {% for name, count in food_counts %}
	  <tr>
	    <th>{{ name }}</th>
	    <th>{{ count }}</th>
	  </tr>
	  {% endfor %}
      </tbody>
      </table>
    </div>
  </div>
  <!-- Row 4 Arena and Habituation -->
  <hr>
  <div class="row">
    <div class="col-sm-6">
      <p><b>Arena Summary</b></p>
      <table id="sum_arena" class="table table-striped table-bordered table-responsive">
	<thead>
	  <tr>
	    <th>Name</th>
	    <th>Count</th>
	  </tr>
	</thead>
	<tbody>
	  {% for name, count in arena_counts %}
	  <tr>
	    <th>{{ name }}</th>
	    <th>{{ count }}</th>
	  </tr>
	  {% endfor %}
      </tbody>
      </table>
    </div>
    <div class="col-sm-6">
      <p><b>Habituation Summary</b></p>
      <table id="sum_habit" class="table table-striped table-bordered table-responsive">
	<thead>
	  <tr>
	    <th>Name</th>
	    <th>Count</th>
	  </tr>
	</thead>
	<tbody>
	  {% for name, count in habit_counts %}
	  <tr>
	    <th>{{ name }}</th>
	    <th>{{ count }}</th>
	  </tr>
	  {% endfor %}
      </tbody>
      </table>
    </div>
  </div>
  <!-- Row 5 Experimenters  -->
  <hr>
  <div class="row">
    <div class="col-sm-6">
      <p><b>Experimenters Summary</b></p>
      <table id="sum_experimenter" class="table table-striped table-bordered table-responsive">
	<thead>
	  <tr>
	    <th>Name</th>
	    <th>Count</th>
	  </tr>
	</thead>
	<tbody>
	  {% for name, count in experimenter_counts %}
	  <tr>
	    <th>{{ name }}</th>
	    <th>{{ count }}</th>
	  </tr>
	  {% endfor %}
      </tbody>
      </table>
    </div>
  </div>
</div>
{% load static %}
<script src="{% static "webworm/paginate-summary.js" %}"></script>
{% endblock %}
