{% extends "webworm/header.html" %}

{% block content %}
{% load static %}
<nav class="navbar navbar-default navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#upload-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a target="_blank" href="http://openworm.org/" class="navbar-brand">OpenWorm</a>
    </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="upload-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'index' %}">Database Tool</a></li>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Support Tools<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'wconviewer' %}">WCON Movement Viewer</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contribute<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'upload' %}">Upload your Data</a></li>
            <li><a target="_blank" href="https://goo.gl/forms/hIYt4Z7ETmklUrIf1">Give Feedback</a>
	    </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Info<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a target="_blank" href="https://github.com/openworm/movement_cloud/blob/master/README.md">Documentation</a></li>
            <li><a target="_blank" href="https://github.com/openworm/movement_cloud">Source Code</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div>
  <p>Upload Instructions:</p>
  <p>Required upload metadata for WCON compatibility - </p>
  <p>Data size limits, please contact us if exceeded - </p>
  <p>Please contact us for additional assistance at -</p>
</div>

<form action="" method="post">{% csrf_token %}
  <div class="form-group">
    <p>
      <label for="emailInput">Your contact email:</label>
      <input type="text" id="emailInput" name="upload_email"></input>
    </p>
    <p>
      <label for="dataUrlInput">Data upload URL:</label>
      <input type="text" id="dataUrlInput" name="upload_url"></input>
    </p>
    <p>
    <p><label for="notesInput">Upload comments/notes:</label></p>
    <p>
      <textarea type="text" id="notesInput" name="upload_notes" rows="10" width="100%" wrap="hard"></textarea>
    </p>
    </p>
    <input type="submit" value="Submit">
  </div>
</form>
{% endblock %}
