@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700);
body {
    font-family: 'Helvetica Neue';
    margin: 40px auto;
    width: 960px;
    min-height: 2000px;
}
#body {
    position: relative;
}
footer {
    padding: 2em 0 1em 0;
    font-size: 12px;
}
h1 {
    font-size: 56px;
    margin-top: .3em;
    margin-bottom: 0;
}
h1 + h2 {
    margin-top: 0;
}
h2 {
    font-weight: 400;
    font-size: 28px;
}
h1,
h2 {
    font-family: 'Yanone Kaffeesatz';
    text-rendering: optimizeLegibility;
}
#body > p {
    line-height: 1.5em;
    width: 640px;
    text-rendering: optimizeLegibility;
}


/* For tables */
td, th {
  padding: 1px 4px;
}


ellipse {
    fill: #000;
    stroke-width: 1px;
}
path.mid {
    fill: none;
    stroke: #000;
    stroke-linecap: round;
    stroke-width: 4px;
}
path.tail {
    fill: none;
    stroke: #000;
    stroke-linecap: round;
    stroke-width: 2px;
}


#wormVisualization .chart {
}

#wormVisualization g.view {
    background: rgba(255, 0, 0, 0.325);
}

#wormVisualization .worm_path {
    stroke: Gray;
    stroke-width: 2;
    fill: none;
}

#wormVisualization .worm_skeleton {
    stroke: RoyalBlue;
    stroke-width: 2;
    fill: none;
}

#wormVisualization .worm_skeleton_nan {
    stroke: SteelBlue;
    stroke-width: 2;
    fill: none;
}

#wormVisualization .worm_head {
    stroke: DarkRed;
    fill: DarkRed;
}

#wormVisualization .worm_head_nan {
    stroke: IndianRed;
    fill: IndianRed;
}

#wormVisualization .distance-scale {
    font-size: 11px;
    line-height: 11px;
    position: absolute;
    font-weight: 500;
    color: #000;
}

#wormVisualization .distance-scale-line {
    stroke: #000;
    stroke-width: 1;
    stroke-opacity: 1;
    opacity: 1;
    fill: #000;
}

/* For JSON syntax highlighting */
pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }


#footer {
    /*color: DimGray;*/
}

#footer .links a {
    display: block;
}


thead {
    background: rgba(70, 130, 180, 0.325);  /*steelblue, opacity: .325 */
}

.good {
    color: green;
}

.bad {
    color: red;
}

.slider_info {
    display: block;
    width: 300px;
    font-family: monospace;
}

.slider_buttons {
    display: block;
}

.slider_info frame_info {
    float: left;
}

.slider_info .time_info {
    float: right;
}

.time_slider {
    width: 300px;
    display: block;
}

.dropzone {
    width: 300px;
    height: 300px;
    border: 2px dashed #ccc;
    color: #ccc;
    line-height: 300px;
    text-align: center;
}

.dropzone.dragover {
    border-color: #000;
    color: #000;
}